.marcador{
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.marcador-individual{
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
}

.btn-reiniciar{
  display: flex;
  margin: 20px 0px 0px -30px;
  justify-content: center;
  
}